.bg{
    background-color:  hsl(30, 38%, 92%)

}

img{
    float: left;
    width:8cm ;
    height: 12cm;
   border-radius: 5% 0% 0% 5%;
}

.container{
    text-align: center;
    background-color: white;
    height: 12cm;
    width:16cm ;
margin: 3cm 7cm 5cm 12cm;
border-radius: 5%;
font-family: 'Montserrat', sans-serif;
}



h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h4{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14;
}

h2{ 
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);  
}

.oa{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
     padding: auto;
    position: relative;
    font-size: 40%;
    color: black;
    
}

.cart{
    display: inline;
    float: left;
    padding-left: 25%;
    width: 0.5cm;
    height: 0.5cm;
}

button{
    display: inline;
    padding-right: 20%;
    padding-left: 15%;
    width: 6cm;
    height: 1cm;
   background-color:  hsl(158, 36%, 37%);
   border-radius: 10px;
   color: white;
}

.text{
   padding-left : 54%;
   padding-top: 2%;
   
    text-align: left;
}

/* .price{
    display: inline;
} */